<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bệnh viện DHA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="icon" href="/images/icon.png">

    <%- customCSS || '' %>
</head>

<body>
    <!-- Hình ảnh biểu trưng với overlay gradient -->
    <div class="banner-container">
        <img src="/images/banner.avif" alt="Banner Bệnh Viện DHA" class="banner-image">
        <div class="banner-overlay"></div>
        
        <!-- Nội dung tiêu đề và thanh tìm kiếm -->
        <div class="banner-content">
            <h2>Chăm sóc sức khoẻ toàn diện</h2>
            <h1 style="color: white;">DHA Hospital</h1>
            <!-- <div class="search-bar">
                <input type="text" class="search-input" placeholder="Tìm kiếm thông tin...">
                <button class="search-button">Tìm Kiếm</button>
            </div> -->
        </div>
    </div>

    <!-- Header -->
    <header>
        <div class="logo-section">
            <img src="/images/logo.png" alt="Logo Bệnh Viện ABC">
            <h1 style="font-size: 18px; margin: 0;">Bệnh Viện DHA</h1>
        </div>
        <div class="navbar">
            <a href="/doctor/appointment">Lịch Khám Hẹn Trước</a>
            <a href="/doctor/edit-result">Chỉnh Sửa Kết Quả Khám</a>
            <a href="/doctor/shift-schedule">Lịch trực</a>
        </div>
       
        <div class="auth-buttons">
            <span>Bác sĩ, <%= user.full_name %>!</span>
            
            <form action="/logout" method="GET" style="display: inline;">
                <button type="submit">Đăng xuất</button>
            </form>
        </div>
            
    </header>

    <div class="container">
        <div class="booking-layout">
            <%- body %>
        </div>
    </div>

    <footer>
        <p>&copy; 2023 Bệnh Viện DHA | Địa chỉ: Số 123 Đường ABC, Quận 1, TP. Hồ Chí Minh | Điện thoại: (028) 1234 5678</p>
    </footer>

    <%- customJS || '' %>
</body>
</html>
